<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Action Centre</title>
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/femp_theme.css">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body>
<div id="info">
    <!--Top Bar-->
    <div class="w3-container w3-camo-black w3-center w3-bar w3-tiny w3-top">
        <div class="w3-bar-item"><h5>F-Empire</h5></div>
        <a href="dashboard.html" class="w3-text-white"><div class="w3-bar-item w3-button w3-hover-black"><h5>Home</h5></div></a>
        <a href="#"><div class="w3-bar-item w3-black w3-hover-black w3-text-white"><h5>Action Centre</h5></div></a>

        <a href="php/logout.php"><div class="w3-right w3-bar-item w3-hover-red w3-text-white"><h5>Log Out</h5></div></a>
        <div class="w3-bar-item w3-right"><h5><span class="glyphicon glyphicon-user"></span> {{user_info.username}}</h5></div>
        <div class="w3-bar-item w3-right"><h5 class="w3-text-light-green" id="confirmation"></h5></div>
    </div><br> <br><br><br>

    <!--Body Content-->
    <div class="container text-center">
        <!--Left Bar-->
        <div class="row">
            <div class="col-sm-3 well">
                <!--Year-->
                <div class="well">
                    <p class="w3-text-indigo"><b>Current Year</b></p>
                    <h1><b>{{user_info.year}}</b></h1>
                </div>
                <!--List-->
                <div class="well">
                    <p class="w3-text-indigo"><b>Assets</b></p>
                    <h5><b>Cash</b></h5>${{user_info.cash}} M
                    <h5><b>Loan</b></h5>${{user_info.loan}} M
                </div>
                <div class="w3-button w3-indigo w3-bar w3-round w3-hover-blue" onclick="openWin()"><h5>News Portal</h5></div>
            </div>

            <!--Content-->
            <div class="col-sm-7">
                <div onclick="myFunction('Global_var')" class="w3-button w3-camo-black w3-hover-black col-sm-12"><h5>Global Decisions</h5></div>

                <div id="Global_var" class="w3-container w3-hide w3-card"><br>
                    <div class="w3-container w3-half">
                        <div class="w3-container w3-card w3-light-gray w3-round">
                            <h5><b>Loan</b></h5>
                            <h6>Unpaid debt: ${{user_info.loan}} M</h6>
                            <input type="number" class="w3-input" placeholder="Loan amount" :max="user_info.cash" min="0" v-model.number="user_info.loanAdd"><br><br>
                        </div><br>

                    </div>
                    <div class="w3-container w3-half">
                        <div class="w3-container w3-card w3-light-gray w3-round">
                            <h5><b>Factories</b></h5>
                            <h6>Owned: {{user_info.total_fac}} Rented: {{user_info.total_fac-user_info.perm_fac }}</h6>
                            <div class="w3-container w3-half" style="height: 75px;">
                                <label>Buy</label>
                            <input type="number" class="w3-input" placeholder="Buy" min="0" v-model.number="user_info.factory_buy">
                            </div>
                            <div class="w3-container w3-half" style="height: 75px;">
                                <label>Rent</label>
                                <input type="number" class="w3-input" placeholder="Rent" min="0" v-model.number="user_info.factory_rent">
                            </div>
                        </div>
                    </div>
                    <button class="w3-half w3-button w3-hover-green" v-on:click="submit_global_var()">Save</button>

                </div>


                <div class="w3-container"><br></div>

                <div onclick="myFunction('Prod_var')" class="w3-button w3-camo-black w3-hover-black col-sm-12"><h5>Production</h5></div>
                <div id="Prod_var" class="w3-container w3-hide w3-card"><br>
                    <div v-for="product in product_array" class="w3-container">
                        <div class="w3-container w3-card w3-light-gray w3-round">
                            <h5><b>{{product.name}}</b></h5>
                            <h6>Cost per unit: ${{product.cost}} M</h6>

                            <div class="w3-container">
                            <div class="w3-half w3-left w3-container">
                                <h6>Qty to Produce</h6>
                                <input type="number" class="w3-input"
                                       placeholder="Produce quantity" min="0"
                                       v-model.number="product.qty" v-bind:disabled="product.isSave===1">
                            </div>
                            <div class="w3-half w3-right w3-container">
                                <h6>Sell price</h6>
                                <!--Placeholder for radiobutton-->
                                <input type="radio" :name="product.name" :value="0" v-model.number="product.sellcode" v-bind:disabled="product.isSave===1"><label>Low</label>
                                <input type="radio" :name="product.name" :value="1" v-model.number="product.sellcode" v-bind:disabled="product.isSave===1"><label>Mod</label>
                                <input type="radio" :name="product.name" :value="2" v-model.number="product.sellcode" v-bind:disabled="product.isSave===1"><label>High</label>

                                <h6>selected: ${{product.priceLevel[product.sellcode]}} M</h6>
                            </div>
                            </div>
                            <div class="w3-container">
                            <div class="w3-third w3-left w3-container">
                                <h6>Advertising Per Product</h6>
                                <input type="number" class="w3-input" placeholder="Investment Amount" min="1" max="100" v-model.number="product.adverts" v-bind:disabled="product.isSave===1">
                                <h6>Min:$1M Max:$100M</h6>
                            </div>
                            <div class="w3-third w3-center w3-container">
                                <h6>Service Level</h6>
                                <select v-model.number="product.selService" class="w3-border" style="width:70%; font-size: 70%;" v-bind:disabled="product.isSave===1">
                                    <option v-for="n in 7-product.maxService">{{n-1+product.maxService}}</option>
                                </select>
                                <h6>Current Level: {{ product.maxService }} <br>Cost: ${{product.selService*3}} M</h6>
                            </div>
                                <div class="w3-third w3-right w3-container">
                                    <h6>Packaging</h6>
                                    <select v-model.number="product.packaging" class="w3-border" style="width:70%; font-size: 70%;" v-bind:disabled="product.isSave===1">
                                        <option v-for="m in 6">{{m-1}}</option>
                                    </select>
                                    <h6>Cost: ${{product.packaging}} M</h6>
                                </div>
                            </div>
                            <h6><b>Total Cost: ${{(product.cost*product.qty)+product.adverts+product.packaging+(product.selService*3)}} M</b></h6>
                            <div class="w3-bar">
                                <button class="w3-button w3-half w3-hover-red" v-on:click="reset_product(product)" v-show="product.isSave===0">Reset</button>
                                <button class="w3-half w3-button w3-hover-green" v-on:click="submit_product(product)"  v-show="product.isSave===0">Save</button>
                            </div>
                            <br>
                        </div>
                        <br><br>
                    </div>
                </div>




            </div>

            <!--Support Bar-->
            <div id="support_bar"></div>
        </div>
    </div>




    <!--<h4 v-html="news"></h4>-->
</div><br>
<div id="footer"></div>

<script>

    var actionCenter = new Vue({
        el:'#info',
        data:{
            user_info:{},
            product_array:[]


        },
        methods:{
            load:function () {
                this.$http.get("php/session.php")
                    .then(function (response) {
                        if(response.body=='no_session'){window.location.href='login.html';}
                        else{
                            this.user_info=response.body;
                            
                        }
                    })
            },
            load_product:function () {
                this.$http.get("php/product_detail.php")
                    .then(function (value) {
                        console.log(value.body);
                        this.product_array=value.body;
                        this.init_product_array();
                    })
            },
            reset_product:function (selProduct) {
                this.$set(selProduct,'qty',0);
                this.$set(selProduct,'adverts',1);
                this.$set(selProduct,'packaging',0);
                this.$set(selProduct,'selService',selProduct.maxService);
                this.$set(selProduct,'sellcode',0);
            },
            init_product_array:function () {
                this.product_array.forEach(function (value) {
                    actionCenter.reset_product(value);
                });
                console.log("initiation completed");
            },
            submit_product:function (submit_prod) {
                if(confirm("Are you sure?")) {
                    var total_cost = (submit_prod.cost*submit_prod.qty)+submit_prod.adverts+submit_prod.packaging+(submit_prod.selService*3);
                    if(this.user_info.cash >= total_cost) {
                        console.log(submit_prod);
                        this.$http.post("php/add_action.php", submit_prod)
                            .then(function (response) {
                                console.log(response.body);
                            });
                        alert("Submit success!");
                        window.location.reload();
                    }
                    else {
                        alert("You don't have enough funds");
                    }
                }
            },
            submit_global_var:function () {
                if(this.user_info.loanAdd < 0) {
                    alert("Invalid value on Loan");
                }
                else if(this.user_info.factory_buy < 0){
                    alert("Invalid value on Buy Factory");
                }
                else if(this.user_info.factory_rent < 0){
                    alert("Invalid value on Rent Factory");
                }
                else {
                    console.log(this.user_info);
                    this.$http.post("php/alter_global_var.php", this.user_info)
                        .then(function (response) {
                            console.log(response.body);
                        });
                    window.location.reload();
                }
            }
        }
    });
    actionCenter.load();
    actionCenter.load_product();
    $("#support_bar").load("modular/support_bar.html");
    $("#footer").load("modular/footer.html");


</script>
<!--Obsolete Tab Function
<script>
    function openAction(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("decision");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-black", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " w3-black";
    }
</script>
-->
<!--Accordion Function-->
<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-black";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
            x.previousElementSibling.className.replace("w3-black", "");
        }
    }
</script>
<!--OpenWinFunction-->
<script>
function openWin() {
myWindow = window.open("news_portal.html", "_blank", "width=400, height=500");
}
</script>
<!--Alert Function-->
<script>
    function myAlert() {
        var txt;
        var r = confirm("Are you sure you want to submit?");
        if (r == true) {
            txt = "Input submitted";
        } else {
            txt = "None";
        }
        document.getElementById("confirmation").innerHTML = txt;
    }
</script>
</body>
</html>