<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demand</title>
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/femp_theme.css">
    <link rel="stylesheet" href="css/w3.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>

</head>
<body>
<div id="info">
    <!--Top Bar-->
    <div class="w3-container w3-camo-black w3-center w3-bar w3-tiny w3-top">
        <div class="w3-bar-item"><h5>F-Empire</h5></div>
        <a href="dashboard.html"><div class="w3-bar-item w3-button w3-hover-black w3-text-white"><h5>Home</h5></div></a>
        <a href="action_centre.html"><div class="w3-bar-item w3-hover-black w3-button w3-text-white"><h5>Action Centre</h5></div></a>
        <a href="#"><div class="w3-bar-item w3-black w3-button w3-text-white"><h5>Demand</h5></div></a>

        <a href="php/logout.php"><div class="w3-right w3-bar-item w3-hover-red w3-text-white"><h5>Log Out</h5></div></a>
        <div class="w3-bar-item w3-right"><h5><span class="glyphicon glyphicon-user"></span> {{user_info.username}}</h5></div>
    </div><br> <br><br><br>

    <!--Body Content-->
    <div class="container text-center">
        <!--Account Bar-->
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <p class="w3-text-indigo"><b>My Profile</b></p>
                    <img src="img/user_ph.png" class="img-circle" height="65" width="65" alt="Avatar"><br><br>
                    <h5>{{user_info.company_name}}</h5>
                </div>
                <div class="well">
                    <p class="w3-text-indigo"><b>Assets</b></p>
                    <h5><b>Cash</b></h5>${{user_info.cash}}
                    <h5><b>Loan</b></h5>${{user_info.loan}}
                </div>
                <div class="well">
                    <p class="w3-text-indigo"><b>Company Value</b></p>
                    <h4><b>${{user_info.cash-user_info.loan}}</b></h4>
                </div>
            </div>

            <!--Content-->
            <div class="col-sm-7">
                <div v-for="product in product_array">
                    <h4 v-if="user_info.demand_pid === product.pid">{{product.name}}</h4>
                </div>
                <div v-for="demand_item in demand_list">
                    <div v-if="demand_item.pid === 1">
                        <input type="radio" id="demand_item.id" :name="1" :value="demand_item" v-model="selection" v-bind:disabled="demand_item.isSelected===1">
                        <label for="demand_item.id">{{demand_item.qty}}</label><br>
                    </div>
                </div>

            </div>

            <!--Support Bar-->
            <div id="support_bar"></div>

        </div>
    </div>




    <!--<h4 v-html="news"></h4>-->
</div>
<div id="footer"></div>
<script>

    var demand = new Vue({
        el:'#info',
        data:{

            user_info: {},
            demand_list: [],
            selection: {},
            product_array: []
        },
        methods:{
            load:function () {
                this.$http.get("php/session.php")
                    .then(function (response) {
                        if(response.body=='no_session'){window.location.href='login.html';}
                        else{
                            this.user_info=response.body;
                        }
                    })
            },

            fetch_demand: function () {
                this.$http.get("php/demand_list.php")
                    .then(function (response) {
                        this.demand_list=response.body;
                    })
            },
            load_product:function () {
                this.$http.get("php/product_detail.php")
                    .then(function (value) {
                        console.log(value.body);
                        this.product_array=value.body;
                    })
            },
        }
    });
    demand.load();
    demand.fetch_demand();
    demand.load_product();
    $("#support_bar").load("modular/support_bar.html");
    $("#footer").load("modular/footer.html");
</script>
</body>
</html>