<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <title>Index</title>
</head>
<body>
<div id="app">
    <input v-model="price">
    <input v-model="quantity">
    <p>{{revenue}}</p>
    <p v-if="lang">Chinese</p>
    <p v-else>English</p>
    <button v-on:click="lang = !lang"><p v-if="lang">"Switch" in Chinese</p><p v-else>Switch</p></button>
</div>

<div id="fun">
    <p v-for="n in 7-this.max">{{n-1+max}}</p>

    <select v-model="maxtemp">
        <option v-for="n in 7-this.max">{{n-1+max}}</option>
    </select>
    <span>Selected: {{ maxtemp }}</span>
</div>


<script>
    new Vue({
        el: '#app',
        data:{
            price: 0,
            quantity:0,
            lang: true
        },
        computed:{
            revenue:function () {
                return this.price*this.quantity;
            }
        }
    });

        var something = new Vue({
            el:'#fun',
            data:{
                max: 4,
                maxtemp: 0
            }

        })
</script>
</body>
</html>