<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/femp_theme.css">
    <link rel="stylesheet" href="css/w3.css">
</head>
<body style="background-image: url(img/bg.jpg);">
<!--Legacy-->
<!--<div id="login_form">
    <input type="text" v-model="form_info.username" title="Username">
    <input type="password" v-model="form_info.password" title="Password">
    <button @click="submit">Submit</button>

</div>-->
<div align="center" style="height: 100%; width: 100%;">
    <br><br><br>
<div class="card w3-light-gray w3-card-4 w3-round-medium" style="width: 300px;"><br>
    <h4>Welcome</h4>
    <h6>Please login to continue</h6>
    <div class="card-section"><br>
        <img src="img/user_ph.png" height="128" width="128"/><br><br>
        <div id="login_form">
            <form @submit.prevent="submit">
                <input type="text" v-model="form_info.username" title="Username" placeholder="Username">
                <input type="password" v-model="form_info.password" title="Password" placeholder="Password">
                <button class="button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>

<script>
    new Vue({
        el:'#login_form',
        data:{
            form_info:{}

        },
        methods:{
            submit:function () {
                console.log('Request is sending');
                this.$http.post("php/user_authen.php",this.form_info)
                    .then(function (response) {
                        console.log('Result received');
                        var result = response.body;
                        console.log(result);
                        if(result.status==1){
                            window.location.href="dashboard.html";
                        }
                    })
            }
        }
    })
</script>
</html>